@model RentACar.WebApp.Models.ViewModels.Transmissions.TransmissionSelectViewModel

<select asp-for="TransmissionId" asp-items="Model.Transmissions" class="form-select">
    <option selected>Bir Vites seçiniz</option>
</select>